<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
<br>
<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="text">Client-side computing for hydrologic simulations increases accessibility to simulation resources</div>
    <img src="/images/WebHLM-edu-results.png" style="width:100%">
  </div>
  <div class="mySlides fade">
    <div class="text">The Water Ethics Web Engine framework helps incorporate people's sense of Right and Wrong into smart and connected infrastructure</div>
    <img src="/images/WE2-1.svg" alt="Water Ethics Web Engine" style="width:100%;">
  </div>
  <div class="mySlides fade">
    <div class="text">Assisting water utilities avert Combined Sewer Overflows through information systems and decision support</div>
    <img src="/images/Conner-Creek-RTB.jpg" style="width:100%">
  </div>
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>