<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
</div>
<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="text">Web-based Hydrological Simulations in JavaScript.</div>
    <img src="/images/WebHLM-edu-results.png" style="max-height:500px;">
  </div>
  <div class="mySlides fade">
    <div class="text">Harness crowd intelligence for decision support in smart water systems.</div>
    <img src="/images/WE2-1.svg" alt="Water Ethics Web Engine" style="max-height:500px;">
  </div>
  <div class="mySlides fade">
    <div class="text">Building smart decision support capacity in metro Detroit.</div>
    <img src="/images/Conner-Creek-RTB.jpg" style="max-height:500px;">
  </div>
  <div class="mySlides fade">
    <div class="text">Sonification of streamflow data.</div>
    <img src="/images/sampleSong.png" style="max-height:500px;">
  </div>
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>